<!doctype html>
<html>
​

<head>
  <meta charset="utf-8">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@400;700&family=Open+Sans:wght@500&family=Poppins:wght@300;400;500;600;700;800&family=Red+Hat+Display:ital,wght@0,300;0,800;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&family=Titillium+Web:wght@600&display=swap"
    rel="stylesheet">
  <style>
    body {
      font-family: 'Roboto';
    }

    .invoice-box {
      max-width: 800px;
      margin: auto;
      padding: 30px;
      border: 1px solid #eee;
      box-shadow: 0 0 10px rgba(0, 0, 0, .15);
      font-size: 16px;
      line-height: 24px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
    }

    .invoice-box table {
      width: 100%;
      line-height: inherit;
      text-align: left;
    }

    .invoice-box table td {
      padding: 5px;
      vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
      text-align: right;
    }

    .invoice-box table tr.top table td {
      padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
      font-size: 45px;
      line-height: 45px;
      color: #333;
    }

    .invoice-box table tr.information table td {
      padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
    }

    .invoice-box table tr.details td {
      padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
      border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
      border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
      border-top: 2px solid #eee;
      font-weight: bold;
    }

    .smalltext {
      font-size: 15px;
    }

    @media only screen and (max-width: 600px) {
      .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
      }

      .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
      }
    }

    .mt10 {
      margin-top: 10px;
    }


    /** RTL **/
    .rtl {
      direction: rtl;
      font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
      text-align: right;
    }

    .rtl table tr td:nth-child(2) {
      text-align: left;
    }

    .value {
      margin-left: 10px;
      font-size: 15px
    }

    .liteText {
      font-family: 'Roboto';
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height, or 133% */
      /* Phixman Admin color/ Text/ Secondary */
      color: #667171;
    }

    .flex {
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>

<body>
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
              <td class="title">
                <img src="https://phixman.com/images/phixman.png" style="width:100%; max-width:150px;">
              </td>
              ​
              <td>
                <h3>Original Tax Invoice</h3>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      ​
      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                <b>Customer Name: </b> <span class="value">
                  <%= data.customer.name %>
                </span><br>
                <b>Customer GSTIN: </b> <span class="value">
                  <%= data.customer.gst %>
                </span><br>
                <b>Invoice Number: </b> <span class="value">
                  <%= data.customer.invoiceNum %>
                </span><br>
                <b>Delivery Address: </b> <span class="value">
                  <%= data.customer.address %>
                </span><br>
                <b>Invoice date: </b> <span class="value">
                  <%= data.customer.date %>
                </span><br>
                <b>State Name & code: </b> <span class="value">
                  <%= data.customer.sNc %>
                </span><br>
                <b>Place of supply: </b> <span class="value">
                  <%= data.customer.placeOfSupply %>
                </span><br>
              </td>
              ​
              <td>
                <span class="value" style="margin: 10px;"><b>DELIVERY SERVICE PROVIDER</b></span><br>
                ​
                <b>Business GSTIN: </b> <span class="value">
                  <%= data.partner.bGst %>
                </span><br>
                <b>Business Name:</b> <span class="value">
                  <%= data.partner.bName %>
                </span><br>
                <b>Address:</b> <span class="value">
                  <%= data.partner.bAddress %>
                </span><br>
                <b>State Name & code: </b> <span class="value">
                  <%= data.partner.sNc %>
                </span><br>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      ​
      ​
      <tr class="heading">
        <td>
          Service
        </td>
        ​
        <td style="text-align: start;">
          Taxable Value
        </td>
      </tr>
      ​
      <tr class="item">
        <td style="display: flex; flex-direction: column;">
          <% data.prodlist.forEach(prod=> {%>
            <div class="mt10">
              <%= prod.serviceName %>
            </div>
            <% });%>
        </td>
        ​
        <td style="width: 40%;">
          <!-- <div class="flex">
            <b class="smalltext">Booking Amount</b> <span class="value">&nbsp;&nbsp;&nbsp; Rs.
              <%= data.bAmt %>
            </span><br>
          </div> -->
          <div class="flex">
            <b class="smalltext">Estimation Amount</b> <span class="value">Rs. <%= data.eAmt %></span><br>
          </div>
          <div class="flex">
            <b class="smalltext">Discount</b> <span
              class="value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Rs. <%= data.disCount %></span><br>
          </div>
          <hr>
          ​
          <!-- <div class="flex">
            <b class="smalltext">Tax: </b>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
              class="value">
              Rs. <%= data.tax %></span><br>
          </div>
          ​
          <div class="flex">
            <b class="smalltext liteText">CGST@9% : </b>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
              class="value liteText">
              Rs. <%= data.cgst %></span><br>
          </div>
          ​
          <div class="flex">
            <b class="smalltext liteText">SGST@9% : </b>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
              class="value liteText">
              Rs. <%= data.sgst %></span><br>
          </div>
        </td>
      </tr> -->
      ​
      <tr class="heading" style="margin-top: 100px;">
        <td>
          Total Amount
        </td>
        ​
        <td>
          Rs. <%= data.totalAmt %>
        </td>
      </tr>
    </table>
  </div>
</body>
​

</html>