<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@400;700&family=Open+Sans:wght@500&family=Poppins:wght@300;400;500;600;700;800&family=Red+Hat+Display:ital,wght@0,300;0,800;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&family=Titillium+Web:wght@600&display=swap"
        rel="stylesheet">
</head>
<style>
    body {
        font-family: 'Roboto';
    }

   

    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 10px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mainIntroBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "left right"
        "left right";
}

.mainIntroBody .bodyLeft {
    grid-area: left;
    border-right: 1px solid black;
}

.mainIntroBody .bodyRight {
    grid-area: right;
}

/* Adjustments for mobile view */
@media screen and (max-width: 767px) {
    .mainIntroBody {
        grid-template-columns: 1fr;
        grid-template-rows: auto; /* Resetting rows for mobile view */
        grid-template-areas: 
            "left"
            "right";
    }

    .mainIntroBody .bodyLeft {
        border-right: none; /* Remove border for mobile view */
    }
}



    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box .mainIntroBody p.value {
        /* width: 214px; */
        /* Text/Body */
        font-weight: bold !important;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #001313;
        line-height: 15px;
        /* or 129% */
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    td p {
        display: inline-block;
    }

    .spanValue {
        float: right;
        margin-left: 80px;
    }

    .partner_detail_cardbox {
        display: flex;
        /* padding-top: 1rem; */
        padding: 0.1rem;
        width: 100%;
        /* border: 2px solid green; */
    }

    .partner_detail_labels {
        flex: 1;
        font-family: Roboto;
        font-size: 0.9rem;
        padding: 0.5rem;
        font-weight: 900;
        align-items: center;
        /* border: 2px solid black; */
        line-height: 1rem;
        letter-spacing: 0.04em;
        text-align: left;
    }

    .partner_details {
        flex: 2;
        font-family: Roboto;
        font-size: 0.5rem;
        /* border: 2px solid pink; */
        color: #667171;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: 0em;
        overflow-wrap: anywhere;
        text-align: left;
    }

    .component_head {
        margin-top: 1rem;
        text-align: center;
        height: 26px;
        background-color: #B2B8B81A;
        padding-top: 0.5rem;
        font-size: 0.9rem;
        margin-bottom: 0%;
        font-weight: 700;
    }

    .NW_head {
        display: flex;
        border-bottom: 0.5px solid #667171;
    }

    .working_head {
        flex: 1;
        padding: 1rem;
        padding-left: 3rem !important;
        font-family: Roboto;
        font-size: 0.9rem;
        font-weight: 900;
        /* border: 2px solid black; */
        line-height: 1rem;
        letter-spacing: 0.04em;
    }


    .working_List {
        flex: 1;
        font-family: Roboto;
        font-size: 0.9rem;
        /* border: 2px solid black; */
        color: #667171;
        font-weight: 400;
        line-height: 0.7rem;
        letter-spacing: 0em;
        border-right: 0.5px solid #667171;
        overflow-wrap: anywhere;
        padding-left: 3rem;
    }

    .working_List2 {
        flex: 1;
        font-family: Roboto;
        font-size: 0.9rem;
        /* border: 2px solid black; */
        color: #667171;
        font-weight: 400;
        line-height: 0.7rem;
        letter-spacing: 0em;
        /* border-right: 0.5px solid #667171; */
        overflow-wrap: anywhere;
        padding-left: 3rem;
    }

    .infopara_below_detail {
        font-family: Roboto;
        font-size: 0.7rem;
        font-weight: 400;
        letter-spacing: 0em;
        overflow-wrap: anywhere;
    }

    .billing_heads {
        display: flex;
        background-color: #B2B8B81A;
        padding-left: 0.3rem;
    }

    .billing_head {
        flex: 1;
        font-family: Roboto;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 400;
        letter-spacing: 0em;
        overflow-wrap: anywhere;
    }

    .billing_data {
        flex: 1;
        /* border: 2px solid green; */
        padding-top: 0.8rem;
    }

    .security_head {
        flex: 1;
        font-family: Roboto;
        font-size: 0.9rem;
        font-weight: 900;
        /* border: 2px solid black; */
        line-height: 1rem;
        letter-spacing: 0.04em;
    }

    .security_text {
        font-family: Roboto;
        font-size: 0.7rem;
        /* border: 2px solid black; */
        color: #667171;
        font-weight: 400;
        /* line-height:0.5rem ; */
        letter-spacing: 0em;
    }

    .billing_price_data {
        display: flex;
        padding: 0.7rem;
        border-bottom: 0.5px solid #667171;
    }

    .billing_price_data_below {
        display: flex;
        padding: 0.7rem;
    }

    .billing_price_label {
        flex: 2;
    }

    .billing_prices {
        flex: 1;
    }

    .price_label {
        font-size: 0.8rem;
        font-weight: 400;
        /* border: 2px solid black; */
        line-height: 1rem;
        text-align: left;
        letter-spacing: 0.04em;
    }

    .billing_price {
        text-align: right;
        font-size: 0.9rem;
        font-weight: 900;
    }

    .label_italy {
        font-family: Roboto;
        font-size: 0.7rem;
        /* border: 2px solid black; */
        color: #667171;
        font-weight: 400;
        /* line-height:0.5rem ; */
        letter-spacing: 0em;
    }

    .label_italy_right {
        font-family: Roboto;
        font-size: 0.7rem;
        /* border: 2px solid black; */
        color: #667171;
        font-weight: 400;
        /* line-height:0.5rem ; */
        letter-spacing: 0em;
        text-align: right;
    }

    .term_conditions {
        font-size: 0.8rem;
        font-weight: 700;
        /* border: 2px solid black; */
        line-height: 1rem;
        text-align: right;
        margin-top: 1rem;
        letter-spacing: 0.04em;
    }

    .customer_Name_sign_box {
        width: 50%;
        /* justify-content: end; */
        float: right;
        margin-top: 1.5rem;

    }

    .customer_Name {
        color: #667171;
        font-size: 0.8rem;
        font-weight: 400;
        font-family: Robooto;
        margin-bottom: 0%;
    }

    .name_detail {
        flex: 1;
        font-size: 0.8rem;
        font-weight: 700;
        /* border: 2px solid black; */
        line-height: 1rem;
        /* text-align: right; */
        margin-top: 1rem;
        letter-spacing: 0.04em;
    }

    .terms_and_Conditions_Ul {
        color: #667171;
        font-size: 0.7rem;
        font-weight: 400;
        font-family: Robooto;
        margin-bottom: 0%;
        counter-reset: item;
        padding: 0%;
    }

    .terms_and_conditions_li {
        display: block;
        /* color: #666666; */
    }

    .terms_and_conditions_li:before {
        content: counters(item, ".") " ";
        counter-increment: item;
    }

    .fullWidth {
        width: 100%;
    }

    .terms_and_Conditions_container {
        display: inline-block;
    }

    .hr {
        border: 0.5px dashed #667171;
    }

    .lefIcon {
        display: flex;
        align-items: center;
    }

    .working_list_item {
        /* border: 2px solid red !important; */
        width: 100% !important;
    }

    .working_Notworking_list {
        display: flex;
        /* border: 2px solid pink !important; */
    }

    .working_List {
        /* border: 2px solid orange !important; */
    }
    .productsbox{
        padding-left: 1rem;
    }
    .detail_values{
        font-size: 15px;
    }
</style>



<body>
    <div class="invoice-box">
        <div class="header">
            <hr>
            <div class="flex">
                <div class="lefIcon">
                    <img src="https://i.ibb.co/k5Nn1Yx/Whats-App-Image-2023-06-18-at-11-50-49-PM.jpg"
                        style="width:30px; height:30px;">
                    <span><b>&nbsp; E c o c o</b></span>
                </div>
                <div class="rightHeading">
                    <h3>Order Placed</h3>
                </div>
            </div>
            <hr>
        </div>
        <div class="mainIntroBody">
            <div class="bodyLeft">
                <div class="partner_detail_cardbox">
                    <div class="partner_detail_labels">
                        Name :
                    </div>
                    <div class="partner_details">
                        <h1><%= fName + " " + lName %></h1>
                        <!-- <h1 class="detail_values">Yuvrajsinh Jadav</h1> -->

                    </div>
                </div>
                <div class="partner_detail_cardbox">
                    <div class="partner_detail_labels">
                        Email ID
                    </div>
                    <div class="partner_details">
                        <h1><%= email %></h1>
                        <!-- <h1 class="detail_values">yuvrajsinh73598@gmail.com</h1> -->
                    </div>
                </div>
                <div class="partner_detail_cardbox">
                    <div class="partner_detail_labels">
                        Contact No
                    </div>
                    <div class="partner_details">
                        <h1><%= ContactNo %></h1>
                        <!-- <h1 class="detail_values">9510533350</h1> -->
                    </div>
                </div>
                <div class="partner_detail_cardbox">
                    <div class="partner_detail_labels">
                        Order ID
                    </div>
                  
                       <div class="partner_details">
                       <!-- <h1 class="detail_values">ORDERkmfksdmf84845454584</h1> -->
                            <h1><%= OrderId %></h1>
                    </div>
                </div>
                <div class="partner_detail_cardbox">
                    <div class="partner_detail_labels">
                        Order Date
                    </div>
                    <div class="partner_details">
                        <h1 class="detail_values">ORDERkmfksdmf84845454584</h1>
                    </div>
                </div>

            </div>
            <div class="bodyright">
                <div>
                    <p class="component_head">Items</p>
                </div>
                <% ordered.forEach(item => { %>
                    <div>
                        <p class="productsbox"><%= item.product_name %> <span style="color: #001313;"><b>&nbsp; x &nbsp;<%= item.quantity %></b></span> <span style="float: right;"><%= item.price %></span></p>
                    </div>
                <% }); %>
                
                <!-- <% ordered.forEach(item => { %> -->
                    <!-- <div>
                        <p class="productsbox">Women's Skirt  <span style="color: #001313;"><b>&nbsp; x &nbsp; 2</b></span> <span style="float: right;">149.99</span></p>
                    </div>
                    <div>
                        <p class="productsbox">Ray-Ban Aviator Sunglasses <span style="color: #001313;"><b>&nbsp; x &nbsp; 5</b></span> <span style="float: right;">149.99</span></p>
                    </div>
                    <div>
                        <p class="productsbox">Children's Shorts<span style="color: #001313;"><b>&nbsp; x &nbsp; 10</b></span> <span style="float: right;">149.99</span></p>
                    </div> -->
                <!-- <% }); %> -->
                
            </div>
        </div>
        <!-- <p class="infopara_below_detail">Any other physical damages existing on the device (or devices):</p> -->
        <div class="billing_box">
            <div class="billing_heads">
                <p class="billing_head">-</p>
                <p class="billing_head">-</p>
            </div>
            <div class="flex">
                <div class="billing_data">
                    <div class="billing_price_data">
                        <div class="billing_price_label">
                            <p class="price_label">Booking Amount</p>
                            <p class="price_label">Estimation Amount</p>
                            <p class="price_label">Discount Amount</p>
                            <p class="label_italy"><i>Promocode applied</i></p>
                        </div>
                        <div class="billing_prices">
                            <p class="billing_price">Rs. 0000</p>
                            <p class="billing_price">Rs. 00000</p>
                            <p class="billing_price">Rs. 000</p>
                        </div>
                    </div>
                    <div class="billing_price_data_below">
                        <!-- <div class="billing_price_label">
                            <p class="price_label">Tax:</p>
                            <p class="label_italy"><i>CGST@9%</i></p>
                            <p class="label_italy"><i>SGST@9%</i></p>

                        </div> -->
                        <!-- <div class="billing_prices">
                            <p class="billing_price">Rs. 0000</p>
                            <p class="label_italy_right"><i>Rs. 00</i> </p>
                            <p class="label_italy_right"><i>Rs. 00</i> </p>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="billing_heads">
                <p class="billing_head">Total amount</p>
                <p class="billing_price">Rs: 000</p>
            </div>
            <p class="term_conditions">I agree to the terms and conditions mentioned below</p>

            <div class="customer_Name_sign_box">
                <p class="customer_Name">Anil Rajpoot</p>
                <div class="flex">
                    <p class="name_detail">Customer's Name</p>
                    <p class="name_detail">Customer's Signature</p>
                </div>
            </div>
        </div>
        <div class="terms_and_Conditions_container">
            <ol class="terms_and_Conditions_Ul">
                <p>Term & Conditions</p>
                <!-- <% termsAndConditions.forEach((condition, index) => { %>
                    <li class="terms_and_conditions_li"><%= condition %></li>
                <% }); %> -->


                <li class="terms_and_conditions_li">All services will include free pick-up and delivery.</li>
                <li class="terms_and_conditions_li">All devices received by Phixman will be sent directly to diagnostic department. After diagnostic if there will be any other damage, other than mentioned, the customer is responsible.</li>
                <li class="terms_and_conditions_li">90 days warranty provided for Touch and LCD components. For all other components, the warranty period is 45 days. Alternatively, purchase our Paid protection plan for complete 1 year or more. Contact the store manager for details.</li>
                <li class="terms_and_conditions_li">One Time Free Replacement of glass within guarantee period. Warranty voids for Touch & LCD if the device is in Accidental Damage or Water Damage. Any Linings on Display are not covered in Warranty.</li>
                
                <li class="terms_and_conditions_li">All services will include free pick-up and delivery.</li>
                <p>For any other support regarding your device, kindly contact us at 9510 53 3350 / yuvrajsinh73598@gmail.com</p>
            </ol>
            
        </div>
        </div>
    </div>
</body>
</html>