<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
       Dear <%=Name %> hope your are well we send here your OTP regarding Your first Registraion after that as you complete your password we good to go ......
    </h1>
    <p> Name : <%= Name %></p>
    <p> email : <%= email %></p>
    <p> phone : <%= PhoneNum %></p>
    <p> userOTP : <%= userOTP %></p>
</body>
</html>